<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="TargetDirectoryA" value="C:\Testing" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="TargetDirectoryB" value="C:\Temp" />

		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DBConnection" value="Data Source=.;Initial Catalog=Test;Integrated Security=True;Application Name=FilePocessorService" />
	</appSettings>
</configuration>